<div style="text-align: right; margin-right: 10px; padding-top: -10px">
  <p id="nav">
    <%= link_to "Public Ribbits", ribbits_path %>
    | <%= link_to "Public Profiles", users_path %>

    <% if current_user %>
    |  <%= link_to "My Profile", user_path(current_user) %>
    |  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    <% else %>
    |  <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </p>
</div>
